 body
           {
            background-color: rgba(25,25,25);
            color: white;
            font-family: Arial;
           }
           
           .title
           {
             font-size: 40px;
             font-weight: bold;
           }
              .move-icon
              {
                height: 50px;
              }
              .move-button
              {
                background-color: transparent;
                border: 3px solid white;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                margin: 0 10px 0 0;
                cursor: pointer;
              }     
              .result
              {
                font-size: 25px;
                font-weight:bold;
                margin: 50px 0;
            
              }
              .score
              {
                margin-top: 60px;
              }
              .reset-score-button
              {
                background-color: white;
                border: none;
                font-size: 15px;
                padding:10px 15px;
                cursor: pointer;
              }