body{
  font-family: Arial;

}
.todo-grid, 
.todo-input-grid
{
  display: grid;
  grid-template-columns:200px 150px 100px;
  column-gap: 15px;
  row-gap: 15px; 
  align-items: center;
}
.todo-input-grid
{
  margin-bottom: 10px;
  align-items: stretch;
}
.name-input,
.due-date-input
{
  font-size: 15px;
  padding: 6px;
}
.add-todo-button
{
   background-color:green;
   color: white;
   border: none;
   font-size:15px;
   cursor:pointer;
}
.delete-todo-button
{
  background-color: darkred;
  color:white;
  cursor:pointer;
  border:none;
  font-size:15px;
  padding: 10px 0;
}